__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

venv/
env/
ENV/
.venv/
.idea/
.vscode/

.env
*.env

.DS_Store
Thumbs.db

# *.pkl
*.joblib
*.h5

*.log

.ipynb_checkpoints/

.pytest_cache/

instance/
*.db
*.sqlite3

build/
dist/
*.egg-info/
